form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

input, textarea, button {
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 1rem;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

input:focus,
textarea:focus,
button:focus {
  outline: 3px solid #000;
}

button {
  width: 200px;
  height: 40px;
  background-color: #001123;
  color: #fff;
  cursor: pointer;
}