nav {
  background-color: #001123;
}

nav ul {
  display: flex;
  justify-content: center;
  gap: 1rem;
  list-style: none;
  padding: 0;
  margin: 0;
}

nav a {
  color: #fff;
  text-decoration: none;
  display: inline-block;
  padding: 15px;
  transition: .4s;
  text-transform: uppercase;
  font-weight: bold;
}

nav a:hover {
  color: #0f0;
}

nav:has(a:hover) a:not(:hover) {
  opacity: 0.5;
}

.active {
  color: orangered;
}